---
---

@font-face {
  src: url("/assets/fonts/domaine-sans-display-test-regular.woff") format("woff");
  font-family: "Domaine Sans Display";
}

@font-face {
  src: url("/assets/fonts/domaine-sans-display-test-regular-italic.woff") format("woff");
  font-family: "Domaine Sans Display";
  font-style: italic;
}

@font-face {
  src: url("/assets/fonts/domaine-sans-text-test-regular.woff") format("woff");
  font-family: "Domaine Sans Text";
}

@font-face {
  src: url("/assets/fonts/domaine-sans-text-test-regular-italic.woff") format("woff");
  font-family: "Domaine Sans Text";
  font-style: italic;
}

//noinspection CssUnknownTarget
@import "nspace";

#footer {
  .container {
    grid-row-gap: $nspace3;

    #signature {
      grid-area: sig;
      align-self: end;
      text-align: center;
    }

    #copyright {
      grid-area: cop;
      text-align: center;
    }

    grid-template-areas:
      "sig"
      "cop";

    @include screen-small {
      grid-template-areas:
        "sig sig sig"
        "cop cop cop";
    }

    @include screen-medium {
      grid-template-areas:
        "... sig sig sig ..."
        "... cop cop cop ...";
    }

    @include screen-large {
      grid-template-areas:
        "... ... sig sig sig ... ..."
        "... ... cop cop cop ... ...";
    }
  }
}

#home {
  &_header {
    .container {
      grid-template-rows: 1.25fr 1fr min-content;

      #header_title, #header_sub {
        text-align: center;
      }

      #header_title {
        grid-area: ht1;
        align-self: end;
      }

      #header_twentytwo,
      #header_quadra,
      #header_westin-ottawa {
        margin: $nspace4 auto auto auto;
      }

      #header_twentytwo,
      #header_westin-ottawa {
        height: 22px;
        max-width: 80px;
      }

      #header_twentytwo {
        grid-area: htt;
      }

      #header_quadra {
        grid-area: hqu;
        display: flex;
        align-items: center;
        font-family: $font-title;
        font-size: $h5-font-size;

        > img {
          height: 22px;
          width: 22px;
          margin-right: $nspace1;
        }
      }

      #header_westin-ottawa {
        grid-area: hwo;
        opacity: 0.875;
      }

      #header_scroll {
        grid-area: hsc;
        align-self: end;
        text-align: center;
        font-size: $h6-font-size;
        line-height: $h6-line-height;
      }

      grid-template-areas:
        "ht1"
        "htt"
        "hqu"
        "hwo"
        "hsc";

      @include screen-small {
        grid-template-areas:
          "ht1 ht1 ht1"
          "htt hqu hwo"
          "hsc hsc hsc";
      }

      @include screen-medium {
        grid-template-areas:
          "... ht1 ht1 ht1 ..."
          "... htt hqu hwo ..."
          "... hsc hsc hsc ...";
      }

      @include screen-large {
        grid-template-rows: 1.625fr 1fr min-content;

        grid-template-areas:
          "... ht1 ht1 ht1 ht1 ht1 ..."
          "... ... htt hqu hwo ... ..."
          "... ... hsc hsc hsc ... ...";
      }
    }
  }

  &_showcase,
  &_about,
  &_cta {
    .container {
      .section_title {
        grid-area: st2;
        align-self: center;
      }

      grid-template-areas:
        "st2";

      @include screen-small {
        grid-template-areas:
          "st2 st2 st2";
      }

      @include screen-medium {
        grid-template-areas:
          "... st2 st2 st2 ...";
      }

      @include screen-large {
        grid-template-areas:
          "... st2 st2 st2 st2 st2 ...";
      }
    }
  }

  &_showcase_chef,
  &_showcase_crowd,
  &_showcase_minibar {
    .container {
      .showcase {
        &_img {
          grid-area: sim;
          align-self: center;
        }

        &_heading {
          grid-area: she;
          align-self: end;
        }

        &_paragraph {
          grid-area: spa;
          margin-bottom: 0;
        }
      }

      grid-template-areas:
        "sim"
        "..."
        "she"
        "spa";

      @include screen-small {
        grid-template-areas:
          "sim sim sim"
          "... ... ..."
          "she she she"
          "spa spa spa";
      }

      @include screen-medium {
        grid-template-areas:
          "sim sim sim sim sim"
          "... ... ... ... ..."
          "... she she she ..."
          "... spa spa spa ...";
      }

      @include screen-large {
        .info_paragraph {
          font-size: 0.9rem;
        }

        grid-template-areas:
          "sim sim sim sim she she she"
          "sim sim sim sim spa spa spa";
      }
    }
  }

  &_about_data {
    .container {
      #data_heading {
        grid-area: dhe;
        align-self: end;
      }

      #info_where_icon,
      #info_when_icon,
      #info_dress-code_icon {
        height: $icon3;
        width: $icon3;
        margin-right: $nspace4;
      }

      #info_where_paragraph,
      #info_when_paragraph,
      #info_dress-code_paragraph {
        color: $color-text;
      }

      #data_info {
        grid-area: din;
        align-self: center;
        display: grid;
        grid-template-columns: $icon3 max-content;
        grid-template-rows: repeat(3, $icon3);
        grid-column-gap: $nspace4;
        grid-row-gap: $nspace5;
        align-items: center;
        margin: $nspace5 0;

        #info {
          &_where {
            &_icon {
              grid-area: whi;
            }

            &_paragraph {
              grid-area: whp;
            }
          }

          &_when {
            &_icon {
              grid-area: wei;
            }

            &_paragraph {
              grid-area: wep;
            }
          }

          &_dress-code {
            &_icon {
              grid-area: dci;
            }

            &_paragraph {
              grid-area: dcp;
            }
          }
        }

        grid-template-areas:
          "whi whp"
          "wei wep"
          "dci dcp";
      }

      #data_paragraph {
        grid-area: dpa;
      }

      grid-template-areas:
        "dhe"
        "din"
        "dpa";

      @include screen-small {
        grid-template-areas:
          "dhe dhe dhe"
          "din din din"
          "dpa dpa dpa";
      }

      @include screen-medium {
        grid-template-areas:
          "din din din dhe dhe"
          "din din din dpa dpa";
      }

      @include screen-large {
        grid-template-areas:
          "din din din ... dhe dhe dhe"
          "din din din ... dpa dpa dpa";
      }
    }
  }

  &_cta_form {
    .container {
      nametag-form {
        grid-area: fna;
        margin: $nspace4 0;

        fieldset:not(:first-child, :last-child) {
          margin-top: $nspace3;
        }

        fieldset:last-child {
          margin-top: $nspace4;

          button:not(:first-child) {
            margin-left: $nspace3;
          }
        }
      }

      grid-template-areas:
        "fna";

      @include screen-small {
        grid-template-areas:
          "fna fna fna";
      }

      @include screen-medium {
        grid-template-areas:
          "... fna fna fna ...";
      }
      @include screen-large {
        grid-template-areas:
          "... ... fna fna fna ... ...";
      }
    }
  }

  &_cta_contact {
    .container {
      #contact_heading {
        grid-area: che;
      }

      grid-template-areas:
        "che";

      @include screen-small {
        grid-template-areas:
          "che che che";
      }

      @include screen-medium {
        grid-template-areas:
          "... che che che ...";
      }

      @include screen-large {
        grid-template-areas:
          "... ... che che che ... ...";
      }
    }
  }
}

#admin_nametag {
  .container {
    grid-row-gap: $nspace3;

    #nametag_title {
      grid-area: nti;
      align-self: end;
    }

    #nametag_sub {
      grid-area: nsu;
    }

    nametag-table {
      grid-area: nta;

      #admin_msg {
      }

      #admin_csv {
      }

      #admin_table {
        margin-top: $nspace4;

        th,
        td {
          padding: $nspace1 0;
        }
      }
    }

    grid-template-areas:
      "nti"
      "nsu"
      "..."
      "..."
      "nta";

    @include screen-small {
      grid-template-areas:
        "nti nti nti"
        "nsu nsu nsu"
        "... ... ..."
        "... ... ..."
        "nta nta nta";
    }

    @include screen-medium {
      grid-template-areas:
        "nti nti nti nti nti"
        "nsu nsu nsu nsu nsu"
        "... ... ... ... ..."
        "... ... ... ... ..."
        "nta nta nta nta nta";
    }

    @include screen-large {
      grid-template-areas:
        "nti nti nti nti nti nti nti"
        "nsu nsu nsu nsu nsu nsu nsu"
        "... ... ... ... ... ... ..."
        "... ... ... ... ... ... ..."
        "nta nta nta nta nta nta nta";
    }
  }
}