---
---

@font-face {
  src: url("/assets/fonts/domaine-sans-display-test-regular.woff") format("woff");
  font-family: "Domaine Sans Display";
}

@font-face {
  src: url("/assets/fonts/domaine-sans-display-test-regular-italic.woff") format("woff");
  font-family: "Domaine Sans Display";
  font-style: italic;
}

@font-face {
  src: url("/assets/fonts/domaine-sans-text-test-regular.woff") format("woff");
  font-family: "Domaine Sans Text";
}

@font-face {
  src: url("/assets/fonts/domaine-sans-text-test-regular-italic.woff") format("woff");
  font-family: "Domaine Sans Text";
  font-style: italic;
}

//noinspection CssUnknownTarget
@import "nspace";

#home {
  &_header {
    .container {
      #page_title, #page_sub {
        text-align: center;
      }

      #page_title {
        grid-area: pta;
        align-self: end;
      }

      #page_sub {
        grid-area: psu;
        align-self: end;
      }

      #logo_quadra,
      #logo_twentytwo,
      #logo_westin_ottawa {
        max-width: 80%;
        max-height: $icon2;
        justify-self: center;
      }

      #logo_quadra {
        grid-area: lqu;
        display: grid;
        grid-template-columns: $icon2 1fr;
        grid-column-gap: $nspace1;
        align-items: center;
        font-family: $font-title;
        font-size: 1.1rem;
        line-height: 1;
      }

      #logo_twentytwo {
        grid-area: ltt;
      }

      #logo_westin_ottawa {
        grid-area: lwo;
        opacity: 0.85;
      }

      grid-template-areas:
      "..."
      "..."
      "..."
      "pta"
      "psu"
      "lqu"
      "ltt"
      "lwo"
      "..."
      "..."
      "...";

      @include screen-small {
        grid-template-areas:
        "... ... ..."
        "... ... ..."
        "... ... ..."
        "pta pta pta"
        "psu psu psu"
        "lqu ltt lwo"
        "... ... ..."
        "... ... ..."
        "... ... ...";
      }

      @include screen-medium {
        grid-template-areas:
        "... ... ... ... ..."
        "... ... ... ... ..."
        "... ... ... ... ..."
        "... pta pta pta ..."
        "... psu psu psu ..."
        "... lqu ltt lwo ..."
        "... ... ... ... ..."
        "... ... ... ... ..."
        "... ... ... ... ...";
      }

      @include screen-large {
        grid-template-areas:
        "... ... ... ... ... ... ..."
        "... ... ... ... ... ... ..."
        "... ... ... ... ... ... ..."
        "... ... pta pta pta ... ..."
        "... ... psu psu psu ... ..."
        "... ... lqu ltt lwo ... ..."
        "... ... ... ... ... ... ..."
        "... ... ... ... ... ... ..."
        "... ... ... ... ... ... ...";
      }
    }
  }

  &_info1 {
    .container {
      svg {
        height: $icon3;
        width: $icon3;
        align-self: center;
        justify-self: center;
      }

      p {
        margin-bottom: 0;
      }

      #info1 {
        &_title,
        &_sub {
          text-align: center;
        }

        &_title {
          grid-area: it2;
          align-self: end;
          border-top: 1px solid $color-text-deco;
          border-bottom: 1px solid $color-text-deco;
          padding: $nspace3 0;
        }

        &_sub {
          grid-area: is1;
        }

        &_where_text,
        &_when_text,
        &_dress_code_text {
          align-self: center;
        }

        &_where {
          &_icon {
            grid-area: iwh;
          }

          &_text {
            grid-area: twh;
          }
        }

        &_when {
          &_icon {
            grid-area: iwe;
          }

          &_text {
            grid-area: twe;
          }
        }

        &_dress_code {
          &_icon {
            grid-area: idc;
          }

          &_text {
            grid-area: tdc;
          }
        }
      }

      grid-template-areas:
          "it2"
          "is1"
          "iwh"
          "twh"
          "iwe"
          "twe"
          "idc"
          "tdc";

      @include screen-small {
        grid-template-areas:
          "it2 it2 it2"
          "is1 is1 is1"
          "... ... ..."
          "... ... ..."
          "... ... ..."
          "iwh twh twh"
          "... ... ..."
          "iwe twe twe"
          "... ... ..."
          "idc tdc tdc"
          "... ... ..."
          "... ... ..."
          "... ... ...";
      }

      @include screen-medium {
        grid-template-areas:
          "... it2 it2 it2 ..."
          "... is1 is1 is1 ..."
          "... ... ... ... ..."
          "... ... ... ... ..."
          "... ... ... ... ..."
          "... iwh twh twh ..."
          "... ... ... ... ..."
          "... iwe twe twe ..."
          "... ... ... ... ..."
          "... idc tdc tdc ..."
          "... ... ... ... ..."
          "... ... ... ... ..."
          "... ... ... ... ...";
      }

      @include screen-large {
        grid-template-areas:
          "... ... it2 it2 it2 ... ..."
          "... ... is1 is1 is1 ... ..."
          "... ... ... ... ... ... ..."
          "... ... ... ... ... ... ..."
          "... ... ... ... ... ... ..."
          "... ... iwh twh twh ... ..."
          "... ... ... ... ... ... ..."
          "... ... iwe twe twe ... ..."
          "... ... ... ... ... ... ..."
          "... ... idc tdc tdc ... ...";
      }
    }
  }

  &_info2,
  &_info3,
  &_info4 {
    .container {
      .info {
        &_img {
          grid-area: iim;
          align-self: center;
        }

        &_heading {
          grid-area: ihe;
          align-self: end;
        }

        &_paragraph {
          grid-area: ipa;
          margin-bottom: 0;
        }
      }

      grid-template-areas:
        "iim"
        "ihe"
        "ipa";

      @include screen-small {
        grid-template-areas:
          "iim iim iim"
          "ihe ihe ihe"
          "ipa ipa ipa";
      }

      @include screen-medium {
        grid-template-areas:
          "... iim iim iim ..."
          "... ihe ihe ihe ..."
          "... ipa ipa ipa ...";
      }

      @include screen-large {
        grid-column-gap: $nspace4;

        .info_paragraph {
          font-size: 0.9rem;
        }

        grid-template-areas:
          "... iim iim iim ihe ihe ..."
          "... iim iim iim ipa ipa ...";
      }
    }
  }

  &_cta1 {
    .container {
      #cta1 {
        &_title,
        &_sub {
          text-align: center;
        }

        &_title {
          grid-area: ct2;
          align-self: end;
          border-top: 1px solid $color-text-deco;
          border-bottom: 1px solid $color-text-deco;
          padding: $nspace3 0;
        }

        &_sub {
          grid-area: cs1;
        }
      }

      nametag-form {
        grid-area: nfo;
        display: grid;
        grid-row-gap: $nspace3;

        fieldset:last-child {
          margin-top: $nspace3;
        }

        button:not(:first-child) {
          margin-left: $nspace2;
        }

        h6 {
          margin-top: $nspace2;
        }
      }

      grid-template-areas:
          "ct2"
          "cs1"
          "..."
          "..."
          "..."
          "nfo";

      @include screen-small {
        grid-template-areas:
            "ct2 ct2 ct2"
            "cs1 cs1 cs1"
            "... ... ..."
            "nfo nfo nfo";
      }

      @include screen-medium {
        grid-template-areas:
          "... ct2 ct2 ct2 ..."
          "... cs1 cs1 cs1 ..."
          "... ... ... ... ..."
          "... nfo nfo nfo ...";
      }

      @include screen-large {
        grid-template-areas:
          "... ... ct2 ct2 ct2 ... ..."
          "... ... cs1 cs1 cs1 ... ..."
          "... ... ... ... ... ... ..."
          "... ... nfo nfo nfo ... ...";
      }
    }
  }

  &_cta2 {
    .container {
      #cta2_title {
        grid-area: cti;
        text-align: center;
        border-top: 1px solid $color-text-deco;
        border-bottom: 1px solid $color-text-deco;
        padding: $nspace3;
      }

      #cta2_linkedin {
        &_paragraph {
          grid-area: cpa;
          margin: auto;
          max-width: 30ch;
          text-align: center;
        }

        &_link {
          grid-area: cli;
          justify-self: center;
          display: grid;
          grid-template-columns: $icon3 1fr;
          grid-column-gap: $nspace2;
          align-items: center;
          max-width: max-content;
          border: 1px solid $color-text-deco;
          border-radius: $border-radius;
          padding: $nspace3;
          color: $color-text;
          font-size: 1.25rem;

          svg {
            height: 2rem;
            width: 2rem;
          }

          &:hover, &:active, &:focus {
            border-color: $color-text;
          }

          @include is-unselectable;
        }
      }

      grid-template-areas:
        "cti"
        "cpa"
        "cli";

      @include screen-small {
        grid-template-areas:
          "... ... ..."
          "cti cti cti"
          "... ... ..."
          "cpa cpa cpa"
          "... ... ..."
          "cli cli cli"
          "... ... ...";
      }

      @include screen-medium {
        grid-template-areas:
          "... cti cti cti ..."
          "... ... ... ... ..."
          "... cpa cpa cpa ..."
          "... ... ... ... ..."
          "... cli cli cli ...";
      }

      @include screen-large {
        grid-template-areas:
          "... ... cti cti cti ... ..."
          "... ... ... ... ... ... ..."
          "... ... cpa cpa cpa ... ..."
          "... ... ... ... ... ... ..."
          "... ... cli cli cli ... ...";
      }
    }
  }
}

#admin_nametag {
  .container {
    grid-row-gap: $nspace3;

    #nametag_title {
      grid-area: nti;
      align-self: end;
    }

    #nametag_sub {
      grid-area: nsu;
    }

    nametag-table {
      grid-area: nta;

      #admin_msg {
      }

      #admin_csv {
      }

      #admin_table {
        margin-top: $nspace4;

        th,
        td {
          padding: $nspace1 0;
        }
      }
    }

    grid-template-areas:
      "nti"
      "nsu"
      "..."
      "..."
      "nta";

    @include screen-small {
      grid-template-areas:
        "nti nti nti"
        "nsu nsu nsu"
        "... ... ..."
        "... ... ..."
        "nta nta nta";
    }

    @include screen-medium {
      grid-template-areas:
        "nti nti nti nti nti"
        "nsu nsu nsu nsu nsu"
        "... ... ... ... ..."
        "... ... ... ... ..."
        "nta nta nta nta nta";
    }

    @include screen-large {
      grid-template-areas:
        "nti nti nti nti nti nti nti"
        "nsu nsu nsu nsu nsu nsu nsu"
        "... ... ... ... ... ... ..."
        "... ... ... ... ... ... ..."
        "nta nta nta nta nta nta nta";
    }
  }
}

#footer {
  .container {
    grid-row-gap: $nspace3;

    #signature {
      grid-area: sig;
      align-self: end;
      text-align: center;
    }

    #copyright {
      grid-area: cop;
      text-align: center;
    }

    grid-template-areas:
      "sig"
      "cop";

    @include screen-small {
      grid-template-areas:
        "sig sig sig"
        "cop cop cop";
    }

    @include screen-medium {
      grid-template-areas:
        "... sig sig sig ..."
        "... cop cop cop ...";
    }

    @include screen-large {
      grid-template-areas:
        "... ... sig sig sig ... ..."
        "... ... cop cop cop ... ...";
    }
  }
}