<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Quadra Events | {{ page.title }}
    </title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">

    <link rel="stylesheet" href="/assets/css/main.css">
    <script type="module"
            src="/assets/js/NametagForm.js">
    </script>
    <script type="module"
            src="/assets/js/NametagTable.js">
    </script>
</head>
<body>
{{ content }}
<footer id="footer">
    <div class="container">
        <h5 id="signature">
            Made with ❤ by JT Feng
        </h5>
        <h5 id="copyright">
            © Quadra Chemicals
        </h5>
    </div>
</footer>
</body>
</html>