<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        NSPACE | {{ page.title }}
    </title>
    <link rel="icon"
          href="/assets/img/favicon.ico">
    <link rel="stylesheet"
          href="/assets/css/main.css">
</head>
<body>
{{ content }}
<footer>
    <div class="container">
        <h5 id="copyright">
            Copyright © J.T. Feng <br>
            All rights reserved
        </h5>
    </div>
</footer>
</body>
</html>